div{
    height: 100px;
    width: 200px;
    border: 2px solid black;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: auto ;

}

body{
    align-items: center;
    text-align: center;
    justify-content: center;
}